/*******************/
/*****GERAL********/
* {
    margin: 0;
    }
    
    
html{
        font-family: 'Lora', serif;
        font-size: 16px;
        color: #000;
}
/**********************/
/*****SLIDER***********/

/*esconder barra de rolagem pois o slider rola sozinho*/
#slider {
    overflow: hidden;
    
    }

/*define o tamanho e posição das imagens dentro da div como um todo na tag figure, além da animação*/
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left:0;
    animation: 15s slider infinite;
}

/*define o tamanho e posição das imagens uma por uma separadamente*/
#slider figure img {
    width: 20%;    
    float: left;
}

/*keyframes setam o tempo que uma imagem vai permanecer e quando a próxima vai aparecer e quanto tempo vai ficar.
quando chega em 100%, volta tudo pra primeira imagem (que ta no left 0) e segue de novo passando pra próxima infinitamente conforme foi descrito ali na tag animation. as tags lefts negativas escondem a imagem para a próxima aparecer e ocupar o espaço da antiga
POR EXEMPLO: em 25% do tempo de 15s da animação, a primeira imagem foi totalmente escondida (-100%) e a próxima irá aparecer à esquerda. Em 50% (-200%), DUAS imagens foram completamente escondidas e a próxima à esquerda irá aparecer. E assim vai. Como se uma fosse puxando a outra pra trás pra aparecer a próxima*/

/*keyframes foram mudadas*/
@keyframes slider {
    0% {
        left: 0;   

    }
    25% {
        left: -100%;
    }

    50%{
        left:-200%;
    }

    75%{
        left: -300%;
    }
    100% {
        left:0;
    }

}
/***********************/
/*********HEADER*******/

/*logo responsivo*/
.logo img{
    height:100%;
    position:relative;
    width:25%;
    margin: 10px;
}

/*adicionei padding e o hover agora muda a corda fonte*/
header nav{
    float:right;
    height:100%;
    margin-top: -40px;  
    margin-right: 7px;
    }

header nav ul{
    display:inline;
    height:100%;
}

header nav ul li{
    display: inline;
    text-align:left;
    vertical-align:middle;
    }

header nav ul li a{
    text-decoration: none;    
    font-weight: normal;
    color:#b8860b;
    font-size: 25px;
    padding-left:5px;

}
header nav ul li a:hover{
    color: #17181c;
}